#heading1 {
    color: blue;
    background-color: pink;
}

body {
    background-color: aqua;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 2px;
}

#man {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 2px;

}